        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Nome Completo</th>
                <th>Apelido</th>
                <th>Cor Favorita</th>
                <th>Data de Nasc.</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let coworker of coworkers">
                <td>{{ coworker.IdFuncionario }}</td>
                <td>{{ coworker.NomeCompleto }}</td>
                <td>{{ coworker.Apelido }}</td>
                <td>{{ coworker.CorFavorita }}</td>
                <td>{{ coworker.DataNascimento }}</td>
                <td>{{ coworker.Status ? 'Ativo' : 'Inativo' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
